#first-slide-title {
  color: blue;
  text-shadow: 5px 5px #ff0000;
  font-size: 300px;
  animation-name: a-from-blue-to-azure;
  animation-duration: 0.1s;
  animation-iteration-count: infinite;
}

#what-is-it {
  text-shadow: 0 0 10px black;
  padding: 10px;
}

#zoom {
  animation-name: zoom-in-out;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.opaque {
  opacity: 0.9
}

.with-shadow {
  text-shadow: 0 0 10px black;
  padding: 10px;
}

@keyframes a-from-blue-to-azure {
  0% {
    color: blue;
  }
  50% {
    color: azure;
  }
  100% {
    color: blue;
  }
}

@keyframes zoom-in-out {
  0% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.3, 1.3);
  }
  100% {
    transform: scale(1, 1);
  }
}